@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 30px;
}
.div--container {
  display: flex;
  max-width: 600px;
  min-width: 200px;
  width: 30%;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 20px;
}

.div--patientName {
  margin-top: 20px;
}

.div--newPatient {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid gray;
  width: 100%;
}

.newPatient-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.column {
  flex: 1;
  margin-right: 10px;
}

label {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #f9fafb;
  font-size: 12px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  max-height: 600px;
  max-width: 1540px;
  gap: 10px;
}

button {
  margin-right: 0;
  background-color: #30bccc;
  width: 400px;
  height: 40px;
  border-radius: 8px;
  width: 100%;
  color: #ffffff;
}

button:hover {
  background-color: #155e75;
}
.header-h1 {
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
  .div--container {
    width: 100%;
  }
  .row {
    flex-direction: column;
  }
}
